html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

.hidden {
  display: none;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.5rem;
}

h1 {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
}

#user-input {
  /* grid layout */
  grid-row: 2;
  grid-column: 2;

  /* flex layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
