html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #117727e6;
  color: whitesmoke;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  /* grid layout */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  max-height: 40vh;
}

h1 {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
}

ul {
  /* flex layout */
  display: flex;
  flex-direction: column;
  background-color: #7eac87fa;
  min-height: 50vh;

  /* border layout */
  border-radius: 8px;
  margin-left: 25vw;
  margin-right: 25vw;

  padding: 1rem;
  gap: 0.5rem;
}

.hidden {
  display: none;
}
.user-input-layout {
  gap: 0.5rem;
}

.todo-elements {
  display: flex;
  padding: 6px;
  background-color: #627f28c7;
  border-radius: 4px;
}

#user-input {
  grid-row: 2;
  grid-column: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 9.375rem;
  width: 13.125rem;

  background-color: #47bf5f6d;
  border-radius: 1.5rem;
  color: white;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#user-input > * {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#error-msg {
  white-space: nowrap;
  margin: 0;
}
