html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  border-radius: 16px;
  margin-left: 25vw;
  margin-right: 25vw;
}

.hidden {
  display: none;
}
header {
  /* grid layout */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  max-height: 40vh;
}
body {
  background-color: #23c045;
}

h1 {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
}

ul {
  /* flex layout */
  display: flex;
  flex-direction: column;
  background-color: white;
}
#user-input {
  /* grid layout */
  grid-row: 2;
  grid-column: 2;

  /* flex layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  /* color layout */
  background-color: #267335;
  border-radius: 24px;
  color: white;
  padding: 1.5rem;
  aspect-ratio: 1 / 1;
}
